.section__choose {
	padding: 25px 0 70px 0;
}
.choose {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	@media (max-width: $bp992) {
		flex-wrap: wrap;
	}
	&__item {
	}
	.left__item {
		position: relative;
		flex: 0 1 470px;
		padding-top: 60px;
		@media (max-width: $bp1200) {
			flex: 0 1 510px;
		}
		@media (max-width: $bp992) {
			flex: 0 1 100%;
			padding-top: 0;
		}

		.section__text {
			max-width: 430px;
		}
		&::after {
			content: '';
			position: absolute;
			width: 296px;
			height: 307px;
			top: 175px;
			left: 316px;
			background: rgba(53, 115, 110, 0.1);
			border-radius: 20px;
			@media (max-width: $bp992) {
				display: none;
			}
		}
	}
	.right__item {
		position: relative;
		padding-top: 50px;
		.yellow-dots-bg {
			position: absolute;
			top: -5px;
			left: -84px;
			z-index: -1;
			@media (max-width: $bp480) {
				display: none;
			}
		}
		.why__image {
			max-width: 100%;
			width: 100%;
			height: auto;
			@media (max-width: $bp992) {
			}
		}
		@media (max-width: $bp992) {
			padding-top: 30px;
			display: flex;
			// align-items: center;
			justify-content: center;
			width: 100%;
			.why__image {
				max-width: 512px;
			}
		}
	}
}
.why {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	margin-top: 80px;
	@media (max-width: $bp1200) {
		gap: 20px;
	}
	@media (max-width: $bp992) {
		margin-top: 35px;
	}
	&__item {
		flex: 0 1 215px;
		@media (max-width: $bp992) {
			flex: 0 1 48%;
		}
		@media (max-width: $bp768) {
			flex: 0 1 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: $colorDarkLp;
		margin-top: 3px;
	}
	&__text {
		margin-top: 9px;
		font-size: 14px;
		line-height: 22px;
		color: $colorGray;
		@media (max-width: $bp768) {
			text-align: center;
		}
	}
}
