.footer {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 90px;
	&__subscribe {
		position: relative;
		justify-content: flex-start;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__sofa {
		position: absolute;
		right: 0;
		top: -200px;
		max-width: 458px;
		@media (max-width: 1080px) {
			max-width: 400px;
		}
		@media (max-width: 960px) {
			max-width: 300px;
			top: -175px;
		}
		@media (max-width: 768px) {
			position: unset;
			display: block;
			margin: 0 auto 50px;
		}
	}

	&__info-row {
		align-items: flex-start;
		margin-top: 33px;
		justify-content: flex-start;
		gap: 65px;
		@media (max-width: 768px) {
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 30px;
		}
	}
	&__row-text {
		flex: 0 1 360px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #6a6a6a;
		@media (max-width: 768px) {
			flex: 1 0 100%;
		}
	}
	&__row-item {
		margin-top: 0;
	}
	&__list {
		padding-left: 0;
		a {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 28px;
			color: #6a6a6a;
		}
	}
	&__social {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 11px;
		margin-top: 55px;
		@media (max-width: 768px) {
			justify-content: center;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 41px;
			height: 41px;
			background-color: #d9d9d9;
			border-radius: 100%;
		}
	}
	&__copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 24px;
		font-weight: 400;
		margin-top: 32px;
		padding-top: 36px;
		border-top: 1px solid #eff2f1;
		color: #6a6a6a;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
		}
		.copyright {
			font-size: 13px;
			&__links {
				gap: 40px;
				a {
					color: #6a6a6a;
					font-size: 14px;
					& + a {
						margin-left: 40px;
					}
				}
			}
		}
	}
}
.subscribe {
	&__heading {
		justify-content: flex-start;
		margin-bottom: 24px;
	}
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #2f2f2f;
		margin-left: 12px;
	}
}
.form {
	justify-content: flex-start;
	gap: 15px;
	padding-bottom: 130px;
	@media (max-width: 768px) {
		justify-content: center;
		flex-wrap: wrap;
	}
	&__input {
		border: 1px solid #c4c4c4;
		border-radius: 10px;
		padding: 15px 22px;
		font-size: 14px;
		line-height: 17px;
		max-width: 262px;
		width: 100%;
		@media (max-width: 768px) {
			max-width: 100%;
		}
	}
	&__btn {
		border: 1px solid #c4c4c4;
		border-radius: 10px;
		height: 50px;
		width: 50px;
		background-color: #35736e;
	}
}
