@use 'sass:math';

// Containers
$containerWidth: 1140;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

// BreakPoints
$bp1450: 1449.98 + px;
$bp1200: 1199.98 + px;
$bp992: 991.98 + px;
$bp768: 786.98 + px;
$bp480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $bp768;
$burgerColor: #ffffff;
$burgerActiveColor: #131418;

// Fonts
$fontMain: 'Inter', sans-serif;

// Colors
$colorWhite: #ffffff;
$colorMainGreen: #3b5d50;
$colorDarkLp: #2f2f2f;
$colorGray: #6a6a6a;
